body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.cal{
    height: 220px;
    border: 1px solid black;
    width: 180px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(239, 87%, 47%);
    border-radius: 8px;
}
 .btn{
    padding:5px;
    margin:3px;
    border-radius: 15px;
    width: 30px;
}
.display input{
    height: 40px;
    text-align: end;
    /* font-size: 16px; */
    outline: none;
    background-color: black;
    color: white;
    /* outline: none; */

}